<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Listing</title>
    <link
      rel="stylesheet"
      href="https://sharkyui.netlify.app/css/component.css"
    />
    <link rel="stylesheet" href="cart.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/Components/Filters/filters.css" />
  </head>

  <body>
    <!-- Navbar -->
    <nav class="desktop-nav navbar sticky navbar-container">
      <div class="nav-headings">
        <h1><a href="/index.html">Sharky Store</a></h1>
      </div>
      <ul class="desktop-nav-list">
        <li>
          <a
            href="../Authentication/authentication.html"
            class="desktop-list-item" data-title="login"
          >
            <span class="material-icons-outlined"> person </span>
          </a>
        </li>
        <li>
          <a href="../Wishlist/wishlist.html" class="desktop-list-item" data-title="wishlist">
            <span class="material-icons-outlined"> favorite_border </span></a
          >
        </li>
        <li>
          <a href="/index.html" class="desktop-list-item" data-title="logout">
            <span class="material-icons-outlined"> logout </span>
          </a>
        </li>
      </ul>
    </nav>

    <h1 class="mycart">My Cart</h1>
    <main class="items-amount-wrapper">
      <!-- Cart Container -->
      <div class="items-container">
        <div class="card-col basic-card card-horizontal">
          <div>
            <img class="card-img basic-img" src="/Assets/card.jpg" alt="card" />

            <header>
              <h2>Rs.1000</h2>
              <p>by SharkyStore</p>
              <span class="quant-size">
                <label for="quantity">Quant:</label>
                <select name="quantity" id="quantity">
                  <option value="one">1</option>
                  <option value="two">2</option>
                  <option value="three">3</option>
                  <option value="four">4</option>
                  <option value="five">5</option>
                </select>
                <label for="size">Size:</label>
                <select name="size" id="size">
                  <option value="xs">XS</option>
                  <option value="s">S</option>
                  <option value="m">M</option>
                  <option value="l">L</option>
                  <option value="xl">XL</option>
                </select>
              </span>
            </header>
          </div>

          <footer class="card-footer">
            <button class="btn btn-primary">Add to Wishlist</button>
            <button class="btn btn-secondary">Remove from Cart</button>
          </footer>
        </div>

        <div class="card-col basic-card card-horizontal">
          <div>
            <img class="card-img basic-img" src="/Assets/card.jpg" alt="card" />

            <header>
              <h2>Rs.1000</h2>
              <p>by SharkyStore</p>
              <span class="quant-size">
                <label for="quantity">Quant:</label>
                <select name="quantity" id="quantity">
                  <option value="one">1</option>
                  <option value="two">2</option>
                  <option value="three">3</option>
                  <option value="four">4</option>
                  <option value="five">5</option>
                </select>
                <label for="size">Size:</label>
                <select name="size" id="size">
                  <option value="xs">XS</option>
                  <option value="s">S</option>
                  <option value="m">M</option>
                  <option value="l">L</option>
                  <option value="xl">XL</option>
                </select>
              </span>
            </header>
          </div>

          <footer class="card-footer">
            <button class="btn btn-primary">Add to Wishlist</button>
            <button class="btn btn-secondary">Remove from Cart</button>
          </footer>
        </div>
      </div>

      <!-- Total Price -->
      <div class="amount-container">
        <h4>COUPONS</h4>
        <div class="coupon-wrap">
          <span class="coupon-inp-wrap">
            <p>Coupon Code</p>
            <input id="coupon-code"/>
          </span>
          <button class="btn btn-primary apply-btn">APPLY</button>
        </div>
        <div class="horiz-line-thin"></div>
        <h3>Price Details</h3>
        <p>No. of Items: <span>2</span></p>
        <p>Total MRP: <span>Rs.2000</span></p>
        <p>Discount on MRP: <span>- Rs.500</span></p>
        <p>Delivery Charges: <span class="success">FREE</span></p>
        <div class="horiz-line-thin"></div>
        <h4>TOTAL AMOUNT: <span>Rs.1500</span></h4>
        <p>You will save Rs.500 on your order</p>
        <button class="btn btn-primary">PLACE ORDER</button>
        <button class="btn btn-secondary sharecart">
          Share Your Cart<span class="material-icons-outlined"> share </span>
        </button>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer-wrap">
      <div class="footer">
        <div>
          <h1>Help And Information</h1>
          <p>Help</p>
          <p>Track Order</p>
          <p>Delivery & Returns</p>
        </div>
        <div>
          <h1>About Sharky Store</h1>
          <p>About Us</p>
          <p>Contact Us</p>
          <p>Policies</p>
        </div>
        <div>
          <h1>Shopping From</h1>
          <p>You are in: In</p>
          <p>Change</p>
        </div>
      </div>
      <div class="footer-disc">
        <p>©2022 SharkyStore</p>
        <div>
          <h6>Privacy & Cookies</h6>
          <h6>T&Cs</h6>
        </div>
      </div>
    </footer>
  </body>
</html>
