<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Listing</title>
    <link rel="stylesheet" href="https://sharkyui.netlify.app/css/component.css" />
    <link rel="stylesheet" href="filters.css" />
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <div class="product-pg-container">
        <nav class="desktop-nav navbar sticky navbar-container">
            <div class="nav-headings">
                <h1><a href="/index.html">Sharky Store</a></h1>
            </div>
            <ul class="desktop-nav-list">
                <li>
                    <a href="Components/Authentication/authentication.html" class="desktop-list-item">
                        <span class="material-icons-outlined"> person </span>
                    </a>
                </li>
                <li>
                    <a href="Components/Wishlist/wishlist.html" class="desktop-list-item">
                        <span class="material-icons-outlined"> favorite_border </span></a>
                </li>
                <li>
                    <a href="Components/Cart/cart.html" class="desktop-list-item">
                        <span class="material-icons-outlined"> shopping_cart </span></a>
                </li>
            </ul>
        </nav>
        <main class="content-wrapper">


        </main>
        <div class="sidebar-mobile-wrapper">
          <span>Filters</span>
          <span>Sort By</span>
        </div>
    </div>
    </div>
</body>

</html>