.sidebar-wrapper{
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 3rem 1rem 0 1rem;
    border-right: 2px solid black;
    height:100vh;
    left: 0;
    min-height: 40vh;
    overflow-y: scroll;
    position: sticky;
    top: 0;
    width: 20rem;
}
.sidebar-ul{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.filters-wrap{
    display: flex;
    justify-content: space-between;
}
.list-wrap{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

/* Mobile-Version Styling */
.filters-wrap-mobile{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content:center ;
}

.overlay {
    background-color: var(--white-color);
    color:var(--black-color);
    height: 90vh;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    visibility: hidden;
    top: 0;
    transition: 0.3s ease-out;
    width: 0;
    z-index: 1;
  }
  
  .overlay-content {
    position: relative;
    padding-top: 3rem;
    text-align: center;
    width: 100%;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
  }
  
  @media (max-height: 450px) {
    .overlay .closebtn {
    top: 15px;
    right: 35px;
    }
}
    @media (max-width: 654px) {
    .all-filters-wrap{
        display: flex;
    flex-direction: column;
    }
    }