<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Listing</title>
    <link rel="stylesheet" href="https://sharkyui.netlify.app/css/component.css" />
    <link rel="stylesheet" href="productlisting.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/Components/Filters/filters.css" />
</head>

<body>
    <div class="product-pg-container">
        <!-- Navbar -->
        <nav class="desktop-nav navbar sticky navbar-container">
            <div class="nav-headings">
                <h1><a href="/index.html">Sharky Store</a></h1>
            </div>
            <input name="name" type="search" value="Search Products"  id="searchBar" autocomplete="off"
            onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
            <ul class="desktop-nav-list">
                <li>
                    <a href="../Authentication/authentication.html" class="desktop-list-item" data-title="user">
                        <span class="material-icons-outlined"> person </span>
                    </a>
                </li>
                <li>
                    <a href="../Wishlist/wishlist.html" class="desktop-list-item" data-title="wishlist">
                        <span class="material-icons-outlined"> favorite_border </span></a>
                </li>
                <li>
                    <a href="../Cart/cart.html" class="desktop-list-item" data-title="cart">
                        <span class="material-icons-outlined"> shopping_cart </span></a>
                </li>
            </ul>
            <ul class="mobile-view hamburger">
                <span class="material-icons-outlined" onclick="openSidebar()">
                    menu
                </span>
            </ul>
        </nav>
        <!-- Mobile-SIdebar -->
        <div id="filter-navbar" class="sidebar-wrapper overlay">
            <a href="#" class="closebtn" onclick="closeSidebar()"><span class="material-icons-outlined"> close
                </span></a>
            <div class="sidebar-ul overlay-content">
                <a href="../Wishlist/wishlist.html" class="desktop-list-item">
                    <span class="material-icons-outlined"> favorite_border </span><span>Wishlist</span></a>

                <a href="../Cart/cart.html" class="desktop-list-item">
                    <span class="material-icons-outlined"> shopping_cart </span><span>Cart</span></a>
                <hr />
                <section class="filters-wrap-mobile">
                    <h1>Filters</h1>
                    <button class="btn">Clear All</button>
                </section>
                <section class="price-wrap">
                    <h1>Price</h1>
                    <div class="slider">
                        ₹500 <input type="range" min="500" max="1000" value="850" class="slider " id="slider-type1" />₹1000
                     </div>
                </section>
                <section class="category-wrap all-filters-wrap">
                    <h1>Category</h1>
                    <label>
                        <input type="checkbox" class="check-box" />
                        <span class="text-checkbox">Men Clothing</span>
                    </label>
                    <label>
                        <input type="checkbox" name="item" class="check-box" />
                        <span class="text-checkbox">Women Clothing</span>
                    </label>
                </section>
                <section class="rating-wrap all-filters-wrap">
                    <h1>Rating</h1>
                    <span>
                        <input type="radio" id="four-star" value="4" class="radio-btn" name="rating" />
                        <label for="four-star">4 stars & above</label>
                    </span>
                    <span>
                        <input type="radio" id="three-star" value="3" class="radio-btn" name="rating" />
                        <label for="three-star">3 stars & above</label>
                    </span>
                    <span>
                        <input type="radio" id="two-star" value="2" class="radio-btn" name="rating" />
                        <label for="two-star">2 stars & above</label>
                    </span>
                    <span>
                        <input type="radio" id="one-star" value="1" class="radio-btn" name="rating" />
                        <label for="one-star">1 star & above</label>
                    </span>
                </section>
                <section class="sortby-wrap all-filters-wrap">
                    <h1>Sort By</h1>
                    <span>
                        <input type="radio" id="low" value="4" class="radio-btn" name="sort" />
                        <label for="low">Price - Low to High</label>
                    </span>
                    <span>
                        <input type="radio" id="high" value="3" class="radio-btn" name="sort" />
                        <label for="high">Price - High to Low</label>
                    </span>
                </section>
            </div>
        </div>







        <div class="sidebar-product-container">
            <!-- Desktop-Sidebar -->
            <div class="sidebar-wrapper dsk-sidebar-wrap">
                <ul class="sidebar-ul">
                    <section class="filters-wrap ">
                        <h1>Filters</h1>
                        <button class="btn">Clear All</button>
                    </section>
                    <section class="price-wrap">
                        <h1>Price</h1>
                        <div class="slider">
                            ₹500 <input type="range" min="500" max="1000" value="850" class="slider " id="slider-type1" />₹1000
                        </div>
                    </section>
                    <section class="category-wrap list-wrap">
                        <h1>Category</h1>
                        <label>
                            <input type="checkbox" class="check-box" />
                            <span class="text-checkbox">Men Clothing</span>
                        </label>
                        <label>
                            <input type="checkbox" name="item" class="check-box" />
                            <span class="text-checkbox">Women Clothing</span>
                        </label>
                    </section>
                    <section class="rating-wrap list-wrap">
                        <h1>Rating</h1>
                        <span>
                            <input type="radio" id="four-star" value="4" class="radio-btn" name="rating">
                            <label for="four-star">4 stars & above</label>
                        </span>
                        <span>
                            <input type="radio" id="three-star" value="3" class="radio-btn" name="rating">
                            <label for="three-star">3 stars & above</label>
                        </span>
                        <span>
                            <input type="radio" id="two-star" value="2" class="radio-btn" name="rating">
                            <label for="two-star">2 stars & above</label>
                        </span>
                        <span>
                            <input type="radio" id="one-star" value="1" class="radio-btn" name="rating">
                            <label for="one-star">1 star & above</label>
                        </span>
                    </section>
                    <section class="sortby-wrap list-wrap">
                        <h1>Sort By</h1>
                        <span>
                            <input type="radio" id="low" value="4" class="radio-btn" name="sort">
                            <label for="low">Price - Low to High</label>
                        </span>
                        <span>
                            <input type="radio" id="high" value="3" class="radio-btn" name="sort">
                            <label for="high">Price - High to Low</label>
                        </span>
                    </section>
                </ul>
            </div>
            <main class="content-wrapper">
                <div class="card-col basic-card">
                    <div>
                        <img class="card-img basic-img" src="/Assets/card.jpg" alt="card" />
                        <header>
                            <h4>Rs.1000</h4>
                            <p>by SharkyStore</p>
                        </header>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-primary">Add to Cart</button>
                        <button class="btn btn-secondary">Add to Wishlist</button>
                    </footer>
                </div>
                <div class="card-col basic-card">
                    <div>
                        <img class="card-img basic-img" src="/Assets/card.jpg" alt="card" />
                        <header>
                            <h4>Rs.1000</h4>
                            <p>by SharkyStore</p>
                        </header>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-primary">Add to Cart</button>
                        <button class="btn btn-secondary">Add to Wishlist</button>
                    </footer>
                </div>
                <div class="card-col basic-card">
                    <div>
                        <img class="card-img basic-img" src="/Assets/card.jpg" alt="card" />
                        <header>
                            <h4>Rs.1000</h4>
                            <p>by SharkyStore</p>
                        </header>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-primary">Add to Cart</button>
                        <button class="btn btn-secondary">Add to Wishlist</button>
                    </footer>
                </div>
                <div class="card-col basic-card">
                    <div>
                        <img class="card-img basic-img" src="/Assets/card.jpg" alt="card" />
                        <header>
                            <h4>Rs.1000</h4>
                            <p>by SharkyStore</p>
                        </header>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-primary">Add to Cart</button>
                        <button class="btn btn-secondary">Add to Wishlist</button>
                    </footer>
                </div>
                <div class="card-col basic-card">
                    <div>
                        <img class="card-img basic-img" src="/Assets/card.jpg" alt="card" />
                        <header>
                            <h4>Rs.1000</h4>
                            <p>by SharkyStore</p>
                        </header>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-primary">Add to Cart</button>
                        <button class="btn btn-secondary">Add to Wishlist</button>
                    </footer>
                </div>
                <div class="card-col basic-card">
                    <div>
                        <img class="card-img basic-img" src="/Assets/card.jpg" alt="card" />
                        <header>
                            <h4>Rs.1000</h4>
                            <p>by SharkyStore</p>
                        </header>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-primary">Add to Cart</button>
                        <button class="btn btn-secondary">Add to Wishlist</button>
                    </footer>
                </div>
                <div class="card-col basic-card">
                    <div>
                        <img class="card-img basic-img" src="/Assets/card.jpg" alt="card" />
                        <header>
                            <h4>Rs.1000</h4>
                            <p>by SharkyStore</p>
                        </header>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-primary">Add to Cart</button>
                        <button class="btn btn-secondary">Add to Wishlist</button>
                    </footer>
                </div>
                <div class="card-col basic-card">
                    <div>
                        <img class="card-img basic-img" src="/Assets/card.jpg" alt="card" />
                        <header>
                            <h4>Rs.1000</h4>
                            <p>by SharkyStore</p>
                        </header>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-primary">Add to Cart</button>
                        <button class="btn btn-secondary">Add to Wishlist</button>
                    </footer>
                </div>


            </main>

        </div>
        <footer class="footer-wrap">
            <div class="footer">
                <div>
                    <h1>Help And Information</h1>
                    <p>Help</p>
                    <p>Track Order</p>
                    <p>Delivery & Returns</p>
                </div>
                <div>
                    <h1>About Sharky Store</h1>
                    <p>About Us</p>
                    <p>Contact Us</p>
                    <p>Policies</p>
                </div>
                <div>
                    <h1>Shopping From</h1>
                    <p>You are in: In</p>
                    <p>Change</p>
                </div>
            </div>
            <div class="footer-disc">
                <p>©2022 SharkyStore</p>
                <div>
                    <h6>Privacy & Cookies</h6>
                    <h6>T&Cs</h6>
                </div>
            </div>
        </footer>
        <script src="../Filters/filters.js"></script>
</body>

</html>